@charset "utf-8";
body{
    font: 12px Microsoft Yahei, tahoma, HELVETICA;
    color: #333;
    background-image: url(../images/chunse7.jpg);
}

a{
    text-decoration: none;
}

a:hover{}

i{
    font-style: normal;
}

.container{
    width: 750px;
    margin:0 auto;
}

.container ul{
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.container ul li{
    float: left;
    background-color: snow;
    border-bottom: 1px dashed #ccc;
    padding: 0;
    margin-top: 5px;
}

h1{
    line-height: 24px;
    text-align: center;
    margin: 5px;
}

.name{
    font-size: 16px;
    line-height: 24px;
    text-indent: 5px;
    color: #333;
}
/*图文div放左边*/
.container ul .pic-txt{
    width: 600px;
    float: left;
    margin: 2px 0;
}
/*下载资源图片放左边*/
.img-area{
    float: left;
    margin: 10px;
    width: 80px;
    height: 80px;
}
/*图文div的文字介绍*/
.txt-area{
    padding: 5px;
    line-height: 1.5em;
    font-size: 14px;
}

.space{
    margin-right: 7px;
}

.tit-sub{
    margin-top: 5px;
    display: block;
    height: 15px;
    font-size: 12px;
    color:#999;
    text-align: left;
    margin-bottom: 5px;
}
/*未点亮的五颗星图片*/
.stars{
    width: 80px;
    height: 15px;
    background: url(../images/star2.png);
    display: inline-block;
}
/*点亮的五颗星图片*/
.stars span{
    height: 15px;
    background: url(../images/star1.png) no-repeat 0px 0px;
    display: inline-block;
}
/*下载超链接放右边*/
.dl-btn{
    float: right;
    width: 100px;
    height: 30px;
    line-height: 30px;
    border-radius: 6px;
    text-align: center;
    margin-top: 15px;
    margin-right: 10px;
    margin-left: 40px;
    font-size: 14px;
    background-color: tomato;
    color: #fafbfb;
}

.back{
    text-align: right;
    margin-top: 10px;
    font-size: 14px;
}

.back a:hover{
    text-decoration: underline;
    color: tomato;
}