body{
    background: url(../images/error1.jpg) no-repeat;
}

#errorDiv{
    width: 80%;
    margin: 50px auto;
    background: url();
    height: 400px;
}

#errorHint{
    padding-left: 600px;
    padding-top: 100px;
}

#errorInfo,
a,
#leaveTime{
    color: red;
    font-weight: bold;
}

#leaveTime{
    font-size: 20px;
    margin: 0px 5px;
}